<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iCare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2281ECB71D951CF7005FF871</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2281ECD01D951CF7005FF871</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2281ECDB1D951CF7005FF871</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
